# Editor / IDE
*.iml
.idea/
.vscode/

# Android / Gradle
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# OS
.DS_Store
